.sidebarContent
{
    margin-bottom:10px;
    min-height:150px;
    background-color:silver;
    font-size:large;
    text-align:center;
}

.customDiv
{
    margin-bottom:10px;
    min-height:300px;
    background-color:silver;
    font-size:large;
    text-align:center;
}
